In [ ]:
!pip list

In [2]:
# import pakage
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

<div>
    <h2>Daerah mana yang cusomer yang ada</h2>
</div>

In [4]:
df_customers=pd.read_csv('data/olist_customers_dataset.csv')
# terus karena customer_id dan customer_unique_id tidak penting maka ku drop kan
df_customers=df_customers.drop(columns=['customer_id','customer_unique_id'],axis=1)
df_customers.head()

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP